{% load humanize %}
<li>
    <a href="#cart" class="waves-effect waves-block waves-light dropdown-trigger" data-target='dropdown-cart'><i
            class="material-icons">shopping_cart {% if cart|length > 0 %}<small
                class="notification-badge">{{cart|length}}</small>{% endif %}</i></a>
    <ul id='dropdown-cart' class='dropdown-content'>
        {% if cart|length > 0 %}
        <li class="bk-green">
            <a href="{% url 'mkt:pagarCarrito' %}" class="center-align" style="color: white !important;"
                type="submit">CONTINUAR COMPRA</a>
        </li>
        {% endif %}
        <li class="divider"></li>
        {% for item, value in cart.items %}
        <li>
            <a href="{% url 'mkt:producto' value.pdt_slug value.pdt_uuid %}" class="center-align">
                <img src="{{value.pdt_image}}" alt="">
                <br>
                <span class="pdt-name black-text">{{value.pdt_name}}</span>
                <br>
                <span class="black-text">${{value.pdt_price|intcomma}} mxn</span>
                <br>
                <small class="grey-text">{{value.pdt_quantity}} unidad(es)</small>
            </a>
        </li>
        <li class="divider"></li>
        {% endfor %}
        {% if cart|length > 0 %}
        <li>
            <span>
                <form action="{% url 'mkt:limpCarrito' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="url-origin" value="{{request.build_absolute_uri}}">
                    <button name="clear" class="btn-flat grey-text">vaciar carrito</button>
                </form>
            </span>
        </li>
        {% endif %}
    </ul>
</li>