{% load static %}
<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="dedc & chranmc">
    <meta name="description" content="Plataforma web para venta y envío de productos.">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}CompraTabasco{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'uikit/uikit.min.css' %}">
    <script defer src="{% static 'uikit/uikit.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'materialize/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="{% static 'materialize/materialize.min.js' %}"></script>
    <script defer src="{% static 'js/app.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>