{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load customtags %}
{% block head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
{% endblock %}
{% block body %}
{% block header %}
<header>
    <nav class="white">
        <div class="nav-wrapper">
            <a href="{% url 'mkt:marketplace' %}" class="brand-logo"><img src="{% static 'images/logo.png' %}"
                    alt="logo" class="responsive-img"></a>
            <ul class="right">
                {% cart request %}
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#" class="waves-effect waves-block waves-light dropdown-trigger"
                        data-target='dropdown-profile'><i class="material-icons left">face</i>
                        {% if request.user.is_authenticated %} ¡Hola {{user.first_name}}! {% else %} Inicia sesión
                        {% endif %}
                    </a>
                    <ul id='dropdown-profile' class='dropdown-content'>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'user:list_orders' %}"><i class="material-icons">widgets</i>Mis pedidos</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="material-icons">settings</i>Configuraciones</a></li>
                        <li><a href="{% url 'user:logout' %}"><i class="material-icons">logout</i>Cerrar sesión</a></li>
                        {% else %}
                        <li><a href="#login-modal" class="waves-effect waves-light modal-trigger"><i
                                    class="material-icons">login</i>Iniciar sesión</a></li>
                        <li><a href="#register-modal" class="waves-effect waves-light modal-trigger"><i
                                    class="material-icons">person_add_alt</i>Crear mi
                                cuenta</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="left hide-on-med-and-up show-on-medium-and-down">
                <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}
{% block sidenav %}
<aside>
    <ul id="slide-out" class="sidenav">
        <li>
            <a href="#" class="waves-effect waves-block waves-light dropdown-trigger"
                data-target='dropdown-profile-mobile'><i class="material-icons left">face</i>¡Hola
                {{user.first_name}}!</a>
            <ul id='dropdown-profile-mobile' class='dropdown-content'>
                <li><a href="#!"><i class="material-icons">settings</i>Configuraciones</a></li>
                <li><a href="#!"><i class="material-icons">logout</i>Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</aside>
{% endblock %}
<main>
    {% include 'users/login_modal.html' %}
    {% include 'users/registro_modal.html' %}
    {% block validations %}
    <div class="container container-lg">
        {% include 'base/validaciones.html' %}
    </div>
    {% endblock %}
    {% block main %}
    {% endblock %}
</main>
{% endblock %}