{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load customtags %}
{% block head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
{% endblock %}
{% block body %}
{% block header %}
<header>
    <nav class="white">
        <div class="nav-wrapper">
            <a href="{% url 'mkt:marketplace' %}" class="brand-logo"><img src="{% static 'images/logo.png' %}"
                    alt="logo" class="responsive-img"></a>
            <ul class="right">
                {% cart request %}
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#" class="waves-effect waves-block waves-light dropdown-trigger"
                        data-target='dropdown-profile'><i class="material-icons left">face</i>¡Hola
                        {{user.first_name}}!</a>
                    <ul id='dropdown-profile' class='dropdown-content'>
                        <li><a href="#!"><i class="material-icons">settings</i>Configuraciones</a></li>
                        <li><a href="#!"><i class="material-icons">logout</i>Cerrar sesión</a></li>
                    </ul>
                </li>
                <li><a href="#search"><i class="material-icons">search</i></a></li>
            </ul>
            <ul class="left hide-on-med-and-up show-on-medium-and-down">
                <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}
{% block sidenav %}
<aside>
    <ul id="slide-out" class="sidenav">
        <li><a href="#search"><i class="material-icons">search</i>Buscar</a></li>
        <li>
            <a href="#" class="waves-effect waves-block waves-light dropdown-trigger"
                data-target='dropdown-profile-mobile'><i class="material-icons left">face</i>¡Hola
                {{user.first_name}}!</a>
            <ul id='dropdown-profile-mobile' class='dropdown-content'>
                <li><a href="#!"><i class="material-icons">settings</i>Configuraciones</a></li>
                <li><a href="#!"><i class="material-icons">logout</i>Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</aside>
{% endblock %}
<main>
    {% block auth_message %}
    <div class="container">
        {% if not request.user.is_authenticated %}
        <div class="row">
            <h6 class="right">Es necesario <a
                    href="{% url 'user:login' %}?redirect_to={{request.build_absolute_uri}}">Iniciar sesión</a> o <a
                    href="{% url 'user:rUsuario' %}?redirect_to={{request.build_absolute_uri}}">crear una cuenta</a>
            </h6>
        </div>
        {% endif %}
    </div>
    {% endblock %}
    {% block validations %}
    <div class="container">
        {% include 'base/validaciones.html' %}
    </div>
    {% endblock %}
    {% block main %}
    {% endblock %}
</main>
{% endblock %}