{% extends 'mkt/base.html' %}
{% load humanize %}
{% load customtags %}
{% block main %}
{% include 'templatetags/search_box.html' %}
<div class="container container-lg">
    <div class="row pdt-row">
        {% for p in productos %}
        <div class="col xl3 l3 m6 s12">
            <div class="card-panel">
                <div class="center-align">
                    <a href="{% url 'mkt:producto' p.slug p.uuid %}">
                        <img class="responsive-img" src="{{p.imagen.url}}" alt="">
                    </a>
                </div>
                <div class="pdt-info">
                    <a href="{% url 'mkt:producto' p.slug p.uuid %}">
                        <h6 class="pdt-name grey-text text-darken-2">{{p.nombre}}</h6>
                    </a>
                    <h5 class="pdt-price grey-text text-darken-3">$ {{p.get_public_price|intcomma}}</h5>
                    {% if p.cantidad > 0 %}
                    <span class="grey-text">{{p.cantidad}} disponibles</span>
                    {% else %}
                    <span class="red-text">Producto agotado</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}