{% extends 'mkt/base.html' %}
{% load static %}
{% block head %}
{{block.super}}
{% if show_payment %}
<link rel="stylesheet" href="{% static 'css/stripe/style.css' %}">
<script defer src="{% static 'js/stripe/index.js' %}"></script>
{% endif %}
{% endblock %}
{% load static %}
{% load humanize %}
{% block cart %}
{% endblock %}
{% block main %}
{% if show_payment %}
<div class="container">
    <div class="card-panel">
        <h5 class="pdt-name">Productos seleccionados</h5>
        <ul class="collection striped">
            {% for item, value in cart.items %}
            <li class="collection-item">
                <div class="pdt-list">
                    <div class="pdt-img">
                        <a href="{% url 'mkt:producto' value.pdt_slug value.pdt_uuid %}">
                            <img src="{{value.pdt_image}}" alt="{{value.pdt_name}}">
                        </a>
                    </div>
                    <div class="pdt-detail">
                        <a href="{% url 'mkt:producto' value.pdt_slug value.pdt_uuid %}">
                            <h6 class="pdt-name">{{value.pdt_name}}</h6>
                        </a>
                        <h6 class="black-text">$<b>{{value.pdt_price|intcomma}}</b> mxn</h6>
                        <h6>{{value.pdt_quantity}} unidad(es) seleccionada(s)</h6>
                        <h6 class="grey-text">{{value.stock}} disponible(s)</h6>
                    </div>
                    <div class="pdt-opt">
                        <form action="{% url 'mkt:actCarrito' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="pdt-id" value="{{value.pdt_uuid}}">
                            <input type="hidden" name="url-origin" value="{{request.build_absolute_uri}}">
                            <div>
                                <div class="uk-button-group">
                                    <button name="increment" class="btn-small btn-flat white"><i
                                            class="tiny material-icons">add</i></button>
                                    <button name="decrement" class="btn-small btn-flat white"><i
                                            class="tiny material-icons">remove</i></button>
                                    <button name="remove" class="btn-small btn-flat white"><i
                                            class="tiny material-icons">close</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <h4 style="text-align: right;">Total:&nbsp;&nbsp;<b>$ {{total|intcomma}} mxn</b></h4>
    </div>
    <form method="post" id="payment-form">
        <div class="card-panel">
            <h5 class="pdt-name">Información de envío</h5>
            <div class="divider"></div>
            <br>
            {% if not request.user.is_authenticated %}
            <div class="row">
                <h6 class="center-align">Es necesario <a href="#login-modal" class="modal-trigger">Iniciar
                        sesión</a>
                    o <a href="#register-modal" class="modal-trigger">crear una
                        cuenta</a>
                </h6>
            </div>
            {% else %}
            <div class="row">
                <a href="#address-modal"
                    class="btn bk-green right waves-effect waves-block waves-light modal-trigger"><i
                        class="material-icons">add</i></a>
            </div>
            <ul class="collection">
                {% for d in user.direcciones.all %}
                <li class="collection-item">
                    <label>
                        <input {% if d.default %}checked{% endif %} class="with-gap" name="address" type="radio"
                            value="{{d.uuid}}" />
                        <span>CP {{d.codigo_postal}} / {{d.alias}}</span>
                    </label>
                </li>
                {% empty %}
                <li class="collection-item">
                    <h6 class="center-align grey-text">Agrega una dirección a la cual llevaremos tu pedido</h6>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="card-panel">
            <h5 class="pdt-name">Información de pago</h5>
            <div class="divider"></div>
            <br><br>
            <ul class="collection">
                {% for c in cards %}
                <li class="collection-item">
                    <label>
                        <input class="with-gap" name="card" type="radio" value="{{c.id}}" />
                        <span>{{c.brand}} <b>xxxx xxxx xxxx {{c.last4}} / {% if c.name %}{{c.name}}{% endif%}
                            </b></span>
                    </label>
                </li>
                {% empty %}
                <li class="collection-item">
                    <h6 class="center-align grey-text">No hay tarjetas guardadas</h6>
                </li>
                {% endfor %}
            </ul>
            <form action="/charge" method="post" id="payment-form">
                <div class="form-row">
                    <div class="frm-stp">
                        <div class="fset-stp">
                            <div class="stp-row">
                                <input id="cardname" data-tid="elements_examples.form.name_placeholder" type="text"
                                    placeholder="Nombre del titular" required="" autocomplete="name"
                                    class="browser-default" required>
                            </div>
                        </div>
                    </div>
                    <div id="card-element"></div>
                    <div id="card-errors" role="alert"></div>
                </div>
                <br>
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" name="save-card" />
                        <span>Guardar este método de pago para futuras compras</span>
                    </label>
                </p>
                <button class="btn bk-green">Pagar</button>
            </form>
            {% csrf_token %}
        </div>
    </form>
    {% include 'users/direccion_modal.html' %}
</div>
{% else %}
<div class="container container-lg" style="margin-top: 50px;">
    <div class="row center-align">
        <i class="material-icons grey-text text-darken-2 large">remove_shopping_cart</i>
        <br><br>
        <h4 class="grey-text text-darken-2">No hay productos agregados al carrito</h4>
    </div>
</div>
{% endif %}
{% endblock %}