{% extends 'mkt/base.html' %}
{% block head %}
{{block.super}}
<style>
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var stripe = Stripe('pk_test_51I7T2kE4OKuuVvsDzt6ZZA4jnOq18zmAKFsNh7p3zJ8qAOoPPppvnPOGXQcfGBHCLoxupyKCsWg6flBeKFXreuHD00vOFme0XO')
        var elements = stripe.elements()
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '20px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };
        var card = elements.create('card', { style: style })
        card.mount('#card-element')
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    stripeTokenHandler(result.token);
                }
            });
        });
        function stripeTokenHandler(token) {
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            form.submit();
        }
    })
</script>
{% endblock %}
{% load static %}
{% load humanize %}
{% block cart %}
{% endblock %}
{% block main %}
<div class="container">
    <div class="card-panel">
        <h5 class="pdt-name">Productos seleccionados</h5>
        <ul class="collection">
            {% for item, value in cart.items %}
            <li class="collection-item">
                <div class="pdt-list">
                    <div class="pdt-img">
                        <a href="{% url 'mkt:producto' value.pdt_slug value.pdt_uuid %}">
                            <img src="{{value.pdt_image}}" alt="{{value.pdt_name}}">
                        </a>
                    </div>
                    <div class="pdt-detail">
                        <a href="{% url 'mkt:producto' value.pdt_slug value.pdt_uuid %}">
                            <h6 class="pdt-name">{{value.pdt_name}}</h6>
                        </a>
                        <h6 class="black-text">$<b>{{value.pdt_price|intcomma}}</b> mxn</h6>
                        <h6>{{value.pdt_quantity}} unidad(es) seleccionada(s)</h6>
                        <h6 class="grey-text">{{value.stock}} disponible(s)</h6>
                    </div>
                    <div class="pdt-opt">
                        <form action="{% url 'mkt:actCarrito' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="pdt-id" value="{{value.pdt_uuid}}">
                            <input type="hidden" name="url-origin" value="{{request.build_absolute_uri}}">
                            <div>
                                <div class="uk-button-group">
                                    <button name="increment" class="btn-small btn-flat white"><i
                                            class="tiny material-icons">add</i></button>
                                    <button name="decrement" class="btn-small btn-flat white"><i
                                            class="tiny material-icons">remove</i></button>
                                    <button name="remove" class="btn-small btn-flat white"><i
                                            class="tiny material-icons">close</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <h4 style="text-align: right;">Total:&nbsp;&nbsp;<b>$ {{total|intcomma}} mxn</b></h4>
    </div>
    <form action="" method="post" id="payment-form">
        <div class="card-panel">
            <h5 class="pdt-name">Información de envío</h5>
            <div class="divider"></div>
            <div class="container" style="width: 90% !important;">
                <br>
                {% if not request.user.is_authenticated %}
                <div class="row">
                    <h6 class="center-align">Es necesario <a href="#login-modal" class="modal-trigger">Iniciar
                            sesión</a>
                        o <a href="#register-modal" class="modal-trigger">crear una
                            cuenta</a>
                    </h6>
                </div>
                {% else %}
                <a href="{% url 'user:rDirecciones' %}" class="btn bk-green right"><i class="material-icons">add</i></a>
                {% endif %}
                {% for d in user.direcciones.all %}
                <div class="row">
                    <div class="col l1"><label><input class="with-gap" name="address" type="radio"
                                value="{{d.id}}" /><span></span></label></div>
                    <div class="col 11"><span class="title">{{d.calle}} {{d.no_calle}} / {{d.colonia}}</span>
                        <p>{{d.referencias}}</p>
                        <p>{{d.instrucciones}}</p>
                    </div>
                </div>
                {% empty %}
                <br>
                <h6 class="center-align grey-text">No ha registrado direcciones</h6>
                {% endfor %}
            </div>
        </div>
        <div class="card-panel">
            <h5 class="pdt-name">Información de pago</h5>
            <div class="divider"></div>
            <div class="container" style="width: 90% !important;">
                <form action="/charge" method="post" id="payment-form">
                    <div class="form-row">
                        <label for="card-element">
                        </label>
                        <br>
                        <div id="card-element"></div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <br>
                    <button class="btn bk-green">Pagar</button>
                </form>
            </div>
            {% csrf_token %}
        </div>
    </form>
</div>
{% endblock %}