{% extends 'mkt/base.html' %}
{% load static %}
{% load humanize %}
{% load customtags %}
{% block main %}
<div class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col l7">
                <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" class="responsive-img">
                <div class="divider" style="margin-top: 20px;"></div>
                <h6 class="left-align pdt-name grey-text text-darken-2">Descripción</h6>
                <p>
                <h6 class="left-align grey-text text-darken-2">{{producto.descripcion}}</h6>
                </p>
            </div>
            <div class="col l5">
                <h5 class="pdt-name grey-text text-darken-2">{{producto.nombre}}</h5>
                <h4 class="pdt-price grey-text text-darken-3">$ {{producto.get_public_price|intcomma}}</h4>
                {% if producto.cantidad > 0 %}
                <form method="post">
                    {% csrf_token %}
                    <select class="browser-default pdt-quantity" name="pdt-quantity">
                        <option value="" disabled selected>Elige una cantidad</option>
                        {% for u in producto.cantidad|int_to_range %}
                        {% if forloop.first %}
                        <option value="{{forloop.counter}}">{{forloop.counter}} unidad</option>
                        {% else %}
                        <option value="{{forloop.counter}}">{{forloop.counter}} unidades</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <p class="center-align grey-text">{{producto.cantidad}} disponibles</p>
                    <input type="hidden" name="pdt-id" value="{{producto.uuid}}">
                    <input type="hidden" name="url-origin" value="{{request.build_absolute_uri}}">
                    <button formaction="{% url 'mkt:comprar' %}" class="btn-large bk-green" type="submit">Comprar
                        ahora</button>
                    <button formaction="{% url 'mkt:agCarrito' %}" class="btn bk-green" type="submit"
                        style="margin-top: 10px;">Agregar al carrito
                    </button>
                </form>
                {% else %}
                <p class="center-align red-text">Producto agotado</p>
                <button class="btn-large disabled">Comprar ahora</button>
                <button class="btn disabled" style="margin-top: 10px;">Agregar al carrito</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}