{% extends 'mkt/base.html' %}
{% load humanize %}
{% load customtags %}
{% block main %}
<div class="container container-lg">
    <h6 class="grey-text">Resultados para <b class="grey-text text-darken-2">{{q}}</b></h6>
</div>
{% include 'templatetags/search_box.html' %}
<div class="container container-lg">
    <div class="row" style="display: flex;
        flex-wrap: wrap; align-items: center;">
        {% for p in productos %}
        <div class="col xl3 l3 m6 s12">
            <div class="pdt">
                <a href="{% url 'mkt:producto' p.slug p.uuid %}">
                    <div class="card-panel">
                        <div class="center-align">
                            <img class="responsive-img" src="{{p.imagen.url}}" alt="">
                        </div>
                        <h6 class="pdt-name grey-text text-darken-2">{{p.nombre}}</h6>
                        <h5 class="pdt-price grey-text text-darken-3">$ {{p.get_public_price|intcomma}}</h5>
                        {% if p.cantidad > 0 %}
                        <span class="grey-text">{{p.cantidad}} disponibles</span>
                        {% else %}
                        <span class="red-text">Producto agotado</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="container container-lg" style="margin-top: 50px;">
            <div class="row center-align">
                <i class="material-icons grey-text text-darken-2 large">search_off</i>
                <h5 class="grey-text text-darken-2">No hay productos que coincidan con la búsqueda</h5>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}