{% extends 'admin/base.html' %}
{% load humanize %}
{% block main %}
<div class="container container-lg container-margin">
    <div class="options">
        <div class="btns">
            <a class="btn grey darken-2" href="{% url 'admin:create_product' %}">Agregar<i
                    class="material-icons left">add</i></a>
        </div>
        <form>
            <span uk-search-icon></span>
            <input type="text" name="search" id="search" style="width: 200px;">
        </form>
    </div>
    <div class="card-panel">
        <h5 class="grey-text center-align text-darken-2"><b>Listado de envíos</b></h5>
        <p class="grey-text">{{object_list.count}} resultado(s)</p>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Fecha</th>
                    <th>Venta</th>
                    <th>Dirección</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                {% for env in object_list %}
                <tr>
                    <td>{{env.folio}}</td>
                    <td>{{env.fecha_reg}}</td>
                    <td>{{env.venta.folio}}</td>
                    <td>
                        <a href="#descripcion" class="grey-text"><i class="material-icons">subject</i></a>
                        <div uk-dropdown="mode: click; pos: top-center">{{env.direccion_txt}}</div>
                    </td>
                    <td>{{env.get_estatus_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}