<div id="login-modal" class="modal">
    <div class="modal-content">
        <h5>Iniciar sesión</h5>
        <form action="{% url 'user:login' %}?redirect_to={{request.get_full_path}}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_login.username.label_tag}}
                        {{form_login.username}}
                        <span class="help-text red-text">{{form_login.username.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_login.password.label_tag}}
                        {{form_login.password}}
                        <span class="help-text red-text">{{form_login.password.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="center-align">
                    <a target="_blank" href="{% url 'user:reset_password' %}" class="blue-text">¿Olvidaste tu
                        contraseña?</a>
                </p>
                <div class="col l12 m12 s12">
                    <button class="btn btn-width bk-green">Ingresar</button>
                </div>
            </div>
        </form>
    </div>
</div>