<div id="register-modal" class="modal">
    <div class="modal-content">
        <h5>Crear cuenta</h5>
        <form action="{% url 'user:rUsuario' %}?redirect_to={{request.get_full_path}}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_user.first_name.label_tag}}
                        {{form_user.first_name}}
                        <span class="help-text red-text">{{form_user.first_name.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_user.last_name.label_tag}}
                        {{form_user.last_name}}
                        <span class="help-text red-text">{{form_user.last_name.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_user.email.label_tag}}
                        {{form_user.email}}
                        <span class="help-text red-text">{{form_user.email.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_user.phone_number.label_tag}}
                        {{form_user.phone_number}}
                        <span class="help-text red-text">{{form_user.phone_number.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_user.password.label_tag}}
                        {{form_user.password}}
                        <span class="help-text red-text">{{form_user.password.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="input-field">
                        {{form_user.repeat_password.label_tag}}
                        {{form_user.repeat_password}}
                        <span class="help-text red-text">{{form_user.repeat_password.errors}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <p class="center-align">
                        <label>
                            {{form_user.privcheck}}
                            <span class="black-text">He leído y acepto las <a href="{% url 'condiciones_uso' %}"
                                    target="_blank">Condiciones de uso</a></span>
                        </label>
                        <span class="help-text red-text">{{form_user.privcheck.errors}}</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <button class="btn btn-width bk-green">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>