{% extends 'mkt/base.html' %}
{% block auth_message %}
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col l8 offset-l2">
            <div class="card-panel">
                <h5><a class="grey-text text-darken-2" href="{% url 'mkt:marketplace' %}">Crear cuenta</a></h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{fusuario.first_name.label_tag}}
                        {{fusuario.first_name}}
                        <span class="help-text red-text">{{fusuario.first_name.errors}}</span>
                    </div>
                    <div class="input-field">
                        {{fusuario.last_name.label_tag}}
                        {{fusuario.last_name}}
                        <span class="help-text red-text">{{fusuario.last_name.errors}}</span>
                    </div>
                    <div class="input-field">
                        {{fusuario.email.label_tag}}
                        {{fusuario.email}}
                        <span class="help-text red-text">{{fusuario.email.errors}}</span>
                    </div>
                    <div class="input-field">
                        {{fusuario.phone_number.label_tag}}
                        {{fusuario.phone_number}}
                        <span class="help-text red-text">{{fusuario.phone_number.errors}}</span>
                    </div>
                    <div class="input-field">
                        {{fusuario.password.label_tag}}
                        {{fusuario.password}}
                        <span class="help-text red-text">{{fusuario.password.errors}}</span>
                    </div>
                    <div class="input-field">
                        {{fusuario.repeat_password.label_tag}}
                        {{fusuario.repeat_password}}
                        <span class="help-text red-text">{{fusuario.repeat_password.errors}}</span>
                    </div>
                    <p>
                        <label>
                            {{fusuario.privcheck}}
                            <span class="black-text">He leído y acepto los <a href="#" target="_blank">Términos y
                                    Condiciones</a></span>
                        </label>
                        <span class="help-text red-text">{{fusuario.privcheck.errors}}</span>
                    </p>
                    <button class="btn-large btn-width orange lighten-1">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}