<html>

<body>
    {% autoescape off %}
    <b>¡Hola {{ user.first_name }}!.</b>
    <p>
        Haz recibido este mensaje ya que haz solicitado el cambio de contraseña para tu cuenta en CompraTabasco.com.
        <br>
        Para continuar con el proceso de cambio de contraseña, por favor da click en el siguiente enlace:
    </p>
    <a href="https://{{domain}}{% url 'user:reset_password_confirm' uidb64=uid token=token %}">Cambiar mi contraseña
        ahora</a>
    {% endautoescape %}
</body>

</html>